.env/
logs*/
algorithms_fetchenv/her/data_fetch_random_100.npz
algorithms_fetchenv/imitatation_learning/data/demonstrations.npz algorithms_fetchenv/imitatation_learning/data/deterministic.trpo.Hopper.0.00.npz
*__pycache__*
algorithms_fetchenv/imitatation_learning/data
.idea
*.npz
*.pkl
*.gz
*.h5
*.html
*.xml
*.png
*.doctree
*.svg
*.js
*.ico
*.json
*.csv
*.rst.txt
*.woff
*.woff2
*.ttf
*.gif
*.css
*.eot
*.rst
external_packages/spinningup
external_packages/gym
